<div class="container edit stock">

  <h1>Editing Stock</h1>

  <%= render 'form', stock: @stock %>

  <%= link_to 'Show', @stock, class: "edit show" %><br/> 
  <%= link_to 'Back', stocks_path, class: "back show" %>

</div>