<%= form_tag root_path, method: "POST" do %>
    <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50  %>
    <%= submit_tag 'Submit' %>
  </div>
<% end %>


<% stock = StockQuote::Stock.quote("goog") %>

<%= stock.inspect %>